.body {
  background-color: black;
}
.page {
  background-color: black;
  color: white;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 320px;
  align-content: center;
}

.header {
  margin-top: 45px;
  max-width: 880px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid #545454 1px;
}

@media screen and (max-width: 880px) {
  .header {
    margin-top: 45px;
    width: 1000vw;
    max-width: 600px;
  }

  .header__logo {
    width: 126px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 320px;
  }
}
