.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_show {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  width: 430px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  display: flex;
  flex-direction: column;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
}

.popup__content-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  height: 23px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
  font-weight: 400;
}
.popup__close-button {
  position: absolute;
  border: none;
  background: transparent;
  background-image: url(../images/Close\ Icon.png);
  height: 26px;
  width: 26px;
  background-size: contain;
  top: -35px;
  right: -35px;
}
.popup__close-button:hover {
  opacity: 60%;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  height: 28px;
}

.popup__save-button {
  height: 60px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.popup__save-button:hover {
  opacity: 80%;
}
@media screen and (max-width: 880px) {
  .popup__content {
    width: 88vw;
    max-width: 430px;
    height: 322px;
  }

  .popup__content-title {
    font-size: 18px;
  }

  .popup__form {
    width: 74vw;
    max-width: 358px;
    align-items: flex-end;
    justify-content: center;
  }

  .popup__input {
    width: 74vw;
    max-width: 358px;
    height: 26px;
  }

  .popup__save-button {
    width: 74vw;
    max-width: 358px;
    height: 46px;
    margin-top: 46px;
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .popup {
  }
  .popup__close-button {
    right: 0;
    top: -50px;
  }
}
